@font-face {
  font-family: "RussoOne";
  src: url("../src/fonts/RussoOne-Regular.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  color: #333;
  line-height: 1.6;
  background-color: #D8D8D8;
}

section {
  padding: 100px 20px 120px 20px;
  @media (max-width: 600px) {
	padding: 64px 17px 100px 17px;
  }
}

.section-title,
a.btn-app span {
	font-family: "RussoOne";
}

.container {
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    flex-direction: column;
    align-items: center;
	@media (max-width: 600px) {
      gap: 32px;
  }
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  @media (max-width: 750px) {
	  flex-direction: column;
  }
}

.header-inner .email + .flex.gap-10 {
	@media (max-width: 1035px) {
		flex-direction: column;
	}
	@media (max-width: 750px) {
			width: 100%;
		flex-direction: none;
	}
}

.justify-center {
  justify-content: center;
}

.gap-20 {
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.hide-mobile {
  display: none;
}

/* Хедер */
header {
  background: #2681E9;
  padding: 35px 20px;
  border-bottom: 1px solid #dee2e6;
}

.header-inner {
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #E9E9E9;
  display: flex;
  align-items: center;
  gap: 30px;
}
.logo>img{
  height: fit-content;
  max-height: 56px;
}

.email {
  font-size: 20px;
  color: #E9E9E9;
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.btn-primary { 
  background: #679CFD;
  width: 100%;
  padding: 18px 30px;
  margin-bottom: 12px;
  margin-top: 12px;
  border-radius: 35px;
  border: 2px solid #679CFD;
  font-size: 24px;
  font-family: "RussoOne";
  @media (max-width: 600px) {
	  font-size: 20px;
  }
}

.btn-primary:hover {
  background: #276AE6;
}

.btn-primary:disabled {
  background: #5f9de4;
}

/* Кнопки магазинов */
.btn-app {
  background: #1B191A;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  width: 340px;
  /* justify-content: space-evenly; */
  padding-left: 40px;
  @media (max-width: 750px) {
	  font-size: 20px;
	  width: 100%;
  }
}

.btn-app:hover {
	background: #373535;
}

.btn-app--bordered {
  border: 2px solid #FFFFFF;
}

header .btn-app {
  border: 2px solid #e9e9e9;
}

.btn-app span {
  margin-left: 24px;
  color: #E9E9E9;
}

.btn-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.google-play {
  background: #679cfd;
}

.google-play:hover {
  background: #276AE6;
}

.app-store {
  background: #ff8e32;
}

.app-store:hover {
  background: #EE7615;
}

/* Блок с мокапом */
.hero {
  background: url("../src/svg/dust_clouds_1.svg") no-repeat center / cover;
}

.hero-inner {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-content {
  flex: 1 1 600px;
}

.hero-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  
  @media (max-width: 600px) {
	  font-size: 32px;
  }
  @media (max-width: 310px) {
	  font-size: 24px;
  }
}

.group-title {
	margin-bottom: 16px;
}

.blue-color {
	color: #2681E9;
}

.o-with-star {
  position: relative;
  display: inline-block;
}

.o-with-star::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -30px;
  width: 100px;
  height: 100px;
  background: url("../src/svg/star.svg") no-repeat center/contain;
  z-index: 10;
  @media (max-width: 600px) {
    top: -15px;
    right: -20px;
    width: 60px;
    height: 60px;
  }
}

.hero-text {
  font-size: 20px;
  margin-bottom: 40px;
  color: #2681E9;
  @media (max-width: 600px) {
	  font-size: 16px;
  }
}

.hero-buttons {
  flex-wrap: wrap;
}

.hero-app {
  flex: 1 1 421px;
  display: flex;
  justify-content: center;
  @media (max-width: 600px) {
    flex: 222px;
  }
}

/*Параметры слайдера*/
.slider {
  position: relative;
  width: 421px;
  height: 841px;
  overflow: hidden;
  
  @media (max-width: 600px) {
    width: 222px;
    height: 443px;
  }
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: slideShow 15s infinite; /* 3 фото * 5 сек = 15 сек цикл */
}

/* Настройки рамки */
.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../src/images/phone-frame.png') no-repeat center center;
  background-size: contain;
  z-index: 10;
}

/* Задержка для каждой картинки */
.slider img:nth-child(2) { animation-delay: 5s; }
.slider img:nth-child(3) { animation-delay: 10s; }

@keyframes slideShow {
  0% { opacity: 0; }
  5% { opacity: 1; }   /* Появление */
  33% { opacity: 1; }  /* Удержание (до 5-й секунды) */
  38% { opacity: 0; }  /* Исчезновение */
  100% { opacity: 0; }
}

/* Блок функций */
.features {
  background: #E4E4E4;
}

.features .container h2,
.features .container p { 
	color: #2681E9;
}

p.features-center {
	max-width: 30%;
    text-align: center;
	font-size: 20px;
	@media (max-width: 1080px) {
	  max-width: 50%;
    }
	@media (max-width: 750px) {
	  max-width: 70%;
	  font-size: 16px;
    }
	@media (max-width: 500px) {
	  max-width: 90%;
    }
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.feature-card {
  background: #D9D9D9;
  padding: 32px;
  border-radius: 40px;
  border: 2px solid #548BEF;
  flex: 1 1 280px;
  @media (max-width: 750px) {
	padding: 24px;
  }
}

.feature-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-family: "RussoOne";
  @media (max-width: 750px) {
	font-size: 20px;
  }
}

.feature-card p {
  font-size: 20px;
  color: #2681E9;
  @media (max-width: 750px) {
	font-size: 16px;
  }
}

.feature-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.feature-icon,
.contact-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}

.feature-icon.about-self {
	background: url("../src/svg/feature_1.svg") no-repeat center / contain;
}

.feature-icon.about-humans {
	background: url("../src/svg/feature_2.svg") no-repeat center / contain;
}

.feature-icon.about-links {
	background: url("../src/svg/feature_3.svg") no-repeat center / contain;
}


.feature-icon svg {
  width: 100%;
  height: 100%;
  fill: #0066cc;
}

/* Текстовый блок */

.text-block {
  background: #2681E9;
  color: #E9E9E9;
}

.text-block .group-title,
.contacts .group-title {
	text-align: center;
}

.text-block h2,
.contacts h2,
.container h2 {
  font-size: 48px;
  margin-bottom: 16px;
  line-height: 1.2;
  @media (max-width: 600px) {
    font-size: 32px;
	margin-bottom: 0px;
  }
}

.text-block p {
  font-size: 32px;
  margin-bottom: 16px;
  max-width: 60%;
  text-align: center;
  
  @media (max-width: 600px) {
    max-width: 90%;
    font-size: 20px;
  }
}

/* Свяжитесь с нами */
.contacts {
  background: url("../src/svg/dust_clouds_2.svg") no-repeat center / cover;
}

.contacts .container {
    max-width: 1200px;
}

.contacts-row {
  width: 100%;
}

.contact-form,
.contact-box {
  flex: 1 1 500px;
  padding: 30px;
  background: #D9D9D9;
  padding: 40px;
  border-radius: 40px;
  border: 2px solid #548BEF;
  flex: 1 1 280px;
  color: #2681E9;
  @media (max-width: 600px) {
	padding: 24px;
  }
}

.contact-box .contact-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* иконки в блоке контактов вставить */

.contact-icon.email {
	background: url("../src/svg/contact_1.svg") no-repeat center / contain;
}

.contact-icon.phone {
	background: url("../src/svg/contact_2.svg") no-repeat center / contain;
}

.contact-icon.adress {
	background: url("../src/svg/contact_3.svg") no-repeat center / contain;
}

.contact-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

::placeholder {
  color: #2681E9;
  opacity: 0.71;
}

.contacts h3 {
  font-size: 32px;
  margin-bottom: 16px;
  line-height: 1.2;
  font-family: "RussoOne";
	
  @media (max-width: 600px) {
	  font-size: 24px;
  }
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 35px;
  border: 2px solid #548BEF;
  background: #D9D9D9;
  color: #2681E9;
  font-size: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  @media (max-width: 600px) {
	  font-size: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 22px;
  }
}

.contact-form textarea {
  height: 100px;
  resize: vertical;
}

.custom-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2681e9;
    color: #e9e9e9;
    padding: 15px 25px;
    border-radius: 8px;
    z-index: 9999;
    font-size: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    animation: fadeInOut 3s ease forwards;
    text-align: center;
    min-width: 250px;
}

@keyframes fadeInOut {
    0% { opacity: 0; top: 0; }
    10% { opacity: 1; top: 20px; }
    90% { opacity: 1; top: 20px; }
    100% { opacity: 0; top: 0; visibility: hidden; }
}

.contact-info {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-info-item {
  font-size: 20px;
  width: 80%;
  @media (max-width: 600px) {
	  font-size: 16px;
  }
}

.map {
  height: 480px;
  width: 100%;
  margin-top: 16px;
  background: #D9D9D9;
  color: #2681E9;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  border: 2px solid #548BEF;
}

/* Иконк другие */
.as-icon {
  max-height: 30px;
  max-width: 30px;
  margin-bottom: 8px;
}

.gp-icon {
  max-height: 30px;
  max-width: 30px;
}


/* Футер */
footer {
  background: #1B191A;
  color: #ccc;
  padding: 40px 20px 20px;
  font-size: 20px;
}

footer div ul li {
	font-size: 14px;
}

footer .logo {
    margin-bottom: 20px;
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  
  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: none;
  }
}

.footer-col h5 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 14px;
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  margin-bottom: 8px;
}

.footer-col a {
  color: #ccc;
  text-decoration: none;
}

.footer-col a:hover {
  color: #fff;
}

.footer-btn-item {
  margin-top: 8px;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  color: #aaaaaa;
  display: flex;
  justify-content: space-around;
  justify-content: space-around;
  @media (max-width: 400px) {
    flex-direction: column;
  }
}

.footer-bottom a {
  margin: 0 6px;
  color: #999;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #fff;
}

li.footer_email,
li.footer_phone,
li.footer_address {
  display: flex;
  align-items: center;
  gap: 10px;
}

li.footer_email::before,
li.footer_phone::before,
li.footer_address::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

li.footer_email::before {
  background-image: url(../src/svg/email_icon.svg);
}

li.footer_phone::before {
  background-image: url(../src/svg/phone_icon.svg);
}

li.footer_address::before {
  background-image: url(../src/svg/address_icon.svg);
}
